[Unit]
Description=uWSGI Emperor service
After=syslog.target

[Service]
ExecStart=/var/www/fire-extinguish-visualizer/server/env/bin/uwsgi --master --emperor /etc/uwsgi/vassals --die-on-term --uid www-data --gid www-data --logto /var/log/uwsgi/emporer.log
ExecReload=/bin/kill -HUP %MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
